.card-team {
  width: 100%;
}

.link-team {
  display: block;
  text-decoration: none;
}

.field-team {
  border: 0;
  border-top: 2px solid;
  border-right: 2px solid;
  border-color: rgb(140, 130, 115);
  border-width: 2px;
  border-radius: 5px;
  margin-top: 40px;
  padding-right: 10px;
  padding-top: 10px;
}

.field-team:hover,
.field-team:focus {
  border-color: currentColor;
  border-top-right-radius: 10px;
  padding-right: 10px;
  margin-top: 30px;
  padding-top: 20px;
  transition: 0.1s all ease;
  cursor: pointer;
}

/* .rank-team {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
  color: rgb(232, 230, 227);
  border-bottom-color: rgb(78, 84, 87);
} */

.rank-team {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  color: rgb(232, 230, 227);
  font-family: F1Wide;
  border-bottom: 1px solid rgb(78, 84, 87);
  margin-bottom: 10px;
}

.team-name {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  color: rgb(232, 230, 227);
  border-bottom: 1px solid rgb(78, 84, 87);
  margin-bottom: 10px;
  /*  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto; */
}

.team-span {
  display: flex;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 30px;
}

.team-color {
  display: inline-block;
  background-color: currentColor;
  width: 5px;
  height: 28px;
  margin-right: 13px;
}

.team-logo {
  overflow: hidden;
  border-radius: 5px;
  background-color: rgb(232, 230, 227);
  max-width: 50px;
}

.team-logo img {
  display: block;
  width: 100%;
  height: auto;
}

.team-drivers {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.driver {
  width: 100%;
  padding: 0.5rem;
  border-right: 1px solid rgb(78, 84, 87);
  border-bottom: 1px solid rgb(78, 84, 87);
  border-bottom-right-radius: 10px;
  max-width: 48%;
}

.driver span {
  display: inline !important;
  color: rgb(232, 230, 227);
  font-size: 1rem;
  letter-spacing: 0.5px;
  line-height: 17px;
}

.last-name {
  margin-left: 5px;
  text-transform: uppercase;
}

.image-wrapper {
  text-align: center;
}

.image-wrapper img {
  display: inline-block;
  width: 80%;
  height: auto;
}
