.circuit-card {
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  cursor: pointer;
  width: 400px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transition: 150ms;
  transform: rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 4px;
}

.circuit-card.turn {
  --rotate-y: 180deg;
}

.circuit-card .circuit-front,
.circuit-card .circuit-back {
  position: absolute;
  backface-visibility: hidden;
}

.circuit-card .circuit-back {
  transform: rotateY(180deg);
}

.circuit-card .card__info span {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.circuit-card .card__info img {
  width: 250px;
}

.circuit-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 4px;
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
}

.card__profile ul {
  padding: 0;
  margin: 20px 0 50px 0;
  list-style-type: none;
}

.card__profile li {
  margin: 10px 0;
  line-height: 1.3rem;
  font-size: 1.2rem;
}

.card__profile__text {
  text-align: center;
  color: #1f1f1f;
  font-size: 0.9rem;
  margin: 20px 0 10px 0;
}

.card__profile__text p {
  font-size: 1.2rem;
  color: #333333;
  margin-top: 0.75rem;
}
