@font-face {
  font-family: F1Regular;
  src: url("../Styles/Fonts/Formula1-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: F1Bold;
  src: url("../Styles/Fonts/Formula1-Bold.otf");
}

@font-face {
  font-family: F1Wide;
  src: url("../Styles/Fonts/Formula1-Wide.otf");
}

html,
body {
  color: #e8e6e3;
  background-color: rgb(24, 26, 27);
  background-size: 100% auto;
  margin: 0;
  height: 100vh;
  font-family: F1Regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 1px 1px #bbb, inset 0 0 7px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #454a4d;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
