/* .main-nav {
  display: flex;
  justify-content: center;
  padding: 4rem;
  position: absolute;
  background-color: transparent;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav-item a {
  color: #eee;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  font-weight: 500;
  line-height: 0.25rem;
  text-decoration: none;
  transition: 0.2s ease;
  margin-left: 1rem;
} */

.main-nav {
  z-index: 99;
  height: auto;
  width: 100%;
  overflow: auto;
  display: table;
  position: relative;
}

.primary-nav {
  display: table-footer-group;
  background-color: rgb(180, 5, 0);
  position: relative;
  overflow: auto;
  z-index: 101;
}

.nav-width {
  max-width: 1320px;
  margin: auto;
}

.primary-links .primary-nav {
  overflow: hidden;
  display: inline-block;
}

.primary-links ul {
  padding-left: 1em;
}

.primary-nav .primary-links > ul > li {
  display: inline-block;
  width: auto;
  list-style: none;
}

.primary-nav .primary-links > ul > li a {
  display: block;
  position: relative;
  text-transform: uppercase;
  line-height: 23px;
  color: rgb(232, 230, 227);
  font-size: 1rem;
  letter-spacing: 0.5px;
  padding-right: 20px;
  padding: 26px 8px 13px 13px;
}

.nav-item a {
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  text-decoration: none;
  border-bottom-right-radius: 10px;
  border-right-color: rgb(188, 5, 0);
  border-bottom-color: rgb(188, 5, 0);
}

/* .nav-item a:hover,
.nav-item a:focus {
  border-bottom: 2px solid #e81a30;
  color: #e81a30;
} */
