.main-nav {
  display: flex;
  justify-content: center;
  padding: 4rem;
  position: absolute;
  background-color: transparent;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav-item a {
  color: #eee;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.6);
  font-weight: 500;
  line-height: 0.25rem;
  text-decoration: none;
  transition: 0.2s ease;
  margin-left: 1rem;
}

/* .nav-item a:hover,
.nav-item a:focus {
  border-bottom: 2px solid #e81a30;
  color: #e81a30;
} */
