.card-driver {
  /* flex: 0 0 33%; */
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  /* max-width: 33%; */
}

.link-driver {
  display: block;
  text-decoration-color: initial;
  text-decoration: none;
}

.field-link {
  /*  margin: 0;
  padding: 0; */
  border: 0;
  border-top: 10px solid;
  border-right: 10px solid;
  /* border-top-right-radius: 10px; */
  border-color: rgb(132, 122, 108);
  border-width: 2px !important;
  border-radius: 5px;
  margin-top: 40px;
  padding-right: 10px;
  padding-top: 10px;
}

.field-link:hover,
.field-link:focus {
  border-color: currentColor;
  border-top-right-radius: 10px;
  padding-right: 10px;
  margin-top: 30px;
  padding-top: 20px;
  transition: 0.1s all ease;
  cursor: pointer;
}

.rank-wrapper {
  display: flex;
  color: rgb(230, 232, 227);
  font-family: F1Wide;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(78, 84, 87);
}

.rank {
  font-size: 2rem;
  line-height: 2rem;
}

.points {
  text-align: right;
}

.current-points {
  font-size: 1.5rem;
  line-height: 2rem;
}

.points-label {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.5px;
  font-weight: 800;
  border-radius: 3px;
  margin: 0 0 0 auto;
  padding: 1px 0 0;
  width: 70px;
  color: rgb(232, 230, 227);
}

.name-wrapper {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between !important;
  align-items: center !important;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(78, 84, 87);
  margin-right: -10px;
  margin-left: -10px;
}

.driver-span {
  text-transform: uppercase;
  position: relative;
}

.driver-span span {
  color: rgb(216, 213, 207);
  font-size: 18px;
  line-height: 24px;
  display: block;
}

.driver-nation {
  border-radius: 5px;
  border: 1px solid #949498;
  height: 32px;
  width: 48px;
  overflow: hidden;
}

.driver-nation img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 1px;
  min-width: 1px;
}

.team-driver {
  padding-top: 15px;
  font-size: 1rem;
  line-height: 15px;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 20px;
  color: rgb(165, 157, 146);
}

.photo-wrapper {
  height: 167px;
  position: relative;
}

.driver-pic {
  left: 50%;
  right: auto;
  height: 192px;
  overflow: hidden;
  position: absolute;
  top: -25px;
  width: 192px;
}

.driver-num {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 97px;
  height: 55px;
}

.driver-num img,
.driver-pic img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 1px;
  min-width: 1px;
}
